.post{
    width: 40%;
    background-color: rgb(144, 219, 219);
    border-radius: 8px;
    padding: 50px;
    margin: 10px;
}
img{
    width: 150px;
    height: 150px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 2px;
}
.buttons{
    
    margin-top: 40px;
    margin-right:30px ;
}
button{
    color: white;
    background-color: rgb(55, 161, 161);
    height: 40px;
    border-radius: 8px;
    width:80%;
    font-size: 16px;
}